In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
Liver_data = pd.read_csv('indian_liver_patient.csv')

In [3]:
Liver_data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,0,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,0,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [4]:
Liver_data.isnull()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
578,False,False,False,False,False,False,False,False,False,False,False
579,False,False,False,False,False,False,False,False,False,False,False
580,False,False,False,False,False,False,False,False,False,False,False
581,False,False,False,False,False,False,False,False,False,False,False
582,False,False,False,False,False,False,False,False,False,False,False

In [5]:
Liver_data.shape

(583, 11)

In [6]:
Liver_data['Dataset'].value_counts()

1    416
2    167
Name: Dataset, dtype: int64

In [7]:
X = Liver_data.drop (columns='Dataset',axis=1)
Y = Liver_data['Dataset']

In [8]:
print(X)

     Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0     65       1              0.7               0.1                   187
1     62       0             10.9               5.5                   699
2     62       0              7.3               4.1                   490
3     58       0              1.0               0.4                   182
4     72       0              3.9               2.0                   195
..   ...     ...              ...               ...                   ...
578   60       0              0.5               0.1                   500
579   40       0              0.6               0.1                    98
580   52       0              0.8               0.2                   245
581   31       0              1.3               0.5                   184
582   38       0              1.0               0.3                   216

     Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                          16                          18             6.8
1                          64                         100             7.5
2                          60                          68             7.0
3                          14                          20             6.8
4                          27                          59             7.3
..                        ...                         ...             ...
578                        20                          34             5.9
579                        35                          31             6.0
580                        48                          49             6.4
581                        29                          32             6.8
582                        21                          24             7.3

     Albumin  Albumin_and_Globulin_Ratio
0        3.3                        0.90
1        3.2                        0.74
2        3.3                        0.89
3        3.4                        1.00
4        2.4                        0.40
..       ...                         ...
578      1.6                        0.37
579      3.2                        1.10
580      3.2                        1.00
581      3.4                        1.00
582      4.4                        1.50

[583 rows x 10 columns]

In [9]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
578    2
579    1
580    1
581    1
582    2
Name: Dataset, Length: 583, dtype: int64

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [11]:
print(X.shape, X_train.shape, X_test.shape)

(583, 10) (466, 10) (117, 10)

In [12]:
classifier = svm.SVC(kernel='linear')

In [13]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [14]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [15]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.7145922746781116

In [16]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [17]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.7094017094017094

In [19]:
input_data = (72,0,3.9,2,195,27,59,7.3,2.4,0.4)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Pasien tidak mengidap liver')
else :
    print('Pasien mengidap liver')

[1]
Pasien mengidap liver

c:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [21]:
import pickle

In [22]:
filename = 'indian_liver_patient_model.sav'
pickle.dump(classifier, open(filename,'wb'))